[Desktop Entry]
Name=i3
Comment=improved dynamic tiling window manager
Exec=env QT_STYLE_OVERRIDE=kvantum XDG_CURRENT_DESKTOP=KDE GTK_IM_MODULE=ibus QT_IM_MODULE=ibus i3
TryExec=i3
Type=Application
X-LightDM-DesktopName=i3
DesktopNames=i3
Keywords=tiling;wm;windowmanager;window;manager;
